#background {
    margin: 0px;
    padding: 0px;
    background-image: url("../Images/backgorundImg.jpg");
    background-size: cover;
}

#container {
    margin: 5% auto;
    display: grid;
    grid-gap: 10px;
    width: 1024px;
    height: 800px;
    border: 1px solid black;
}

.topMenu {
    border: 1px solid black;
    grid-area: topBox;
    grid-column: 1/16;
    grid-row: 1/1;
}

.sideMenu {
    border: 1px solid black;
    background-color: white;
    grid-area: sideBox;
    grid-column: 1/2;
    grid-row: 2/15;
}

.mainMenu {
    border: 1px solid black;
    background-color: white;
    grid-area: mainBox;
    grid-column: 2/16;
    grid-row: 2/15;
}

.bottomMenu {
    border: 1px solid black;
    grid-area: bottomBox;
    grid-column: 1/16;
    grid-row: 15/16;
}

@media screen and (max-device-width: 812px) and (orientation: landscape) {
    #background {
        margin: 0px;
        padding: 0px;
    }
    
    #container {
        margin: 5% auto;
        display: grid;
        grid-gap: 10px;
        width: 1024px;
        height: 800px;
        border: 1px solid black;
    }
    
    .topMenu {
        background-color: greenyellow;
        grid-area: topBox;
        grid-column: 1/16;
        grid-row: 1/2;
    }
    
    .sideMenu {
        background-color: grey;
        grid-area: sideBox;
        grid-column: 1/16;
        grid-row: 2/3;
    }
    
    .mainMenu {
        background-color: hotpink;
        grid-area: mainBox;
        grid-column: 1/16;
        grid-row: 3/4;
    }
    
    .bottomMenu {
        background-color: gold;
        grid-area: bottomBox;
        grid-column: 1/16;
        grid-row: 4/5;
    }
    
}