/* 바탕화면 영역 */
#background {
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: black;
}

#videoBackground {
    position: fixed;
}
/* ------------- */


/* header, main, footer를 포함하는 요소 */
#container {
    /* 배경을 기준으로 가로, 세로 가운데 정렬을 하기 위한 값 */
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -600px;
    margin-top: -400px;
    width: 1200px;
    height: 800px;
    /* --------------------------------------------------- */
    display: grid;
    box-shadow: 5px 5px 5px 5px orange;
    border-radius: 50px;
}
/* ------------------------------------ */


/* top, main, bottom */
.topMenu {
    border: 1px solid black;
    background-color: gray;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    width: auto;
    height: 150px;
    box-shadow: 5px 5px 5px 5px orange;
}

.mainMenu {
    width: auto;
    height: 500px;
    margin: auto;
}

.bottomMenu {
    width: auto;
    margin: auto;
}
/* ------------------- */


/* 제목 태그 CSS */
.topMenu > h1 {
    color: moccasin;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 10px;
}
.mainMenu > h1 {
    text-align: center;
    color: moccasin;
    border: 3px solid white;
}
.mainMenu > h2 {
    color: white;
    text-align: center;
}
/* -------------- */


/* 모든 요소에 테투리까지 포함해서 너빗값을 지정 */
* {
    box-sizing: border-box;
}
/* ------------------------------------------- */


/* 웹 아이콘 CSS */
.bottomMenu a {
    font-size: 50px;
    color: white;
    margin: 10px;
    padding: 10px;
}
/* ------------- */